.container{
    display:grid;
    grid-template-rows:repeat(11,1fr);
    grid-template-columns:repeat(11,1fr);
    height:100%;
    width:100%;
}
/*Start Page Styling*/
.logo{
    grid-column:span 11;
    grid-row:span 11;
}
.logo img{
    display:flex;
    align-content:center;
    margin-right:auto;
    margin-left:auto;
}

/*player select styling*/
.onePlayer{
    display:none;
    grid-column:span 5;
    grid-row:2 /span 9;
    height: 75vh;
}
.twoPlayer{
    display:none;
    grid-column:7/ span 5;
    grid-row:2/ span 9;
    height:75vh
}

.onePlayer button{
    height:100%;
    width:100%;
}
.twoPlayer button {
    height: 100%;
    width: 100%;
}

.chad{
    display:none;
}